[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DTRKernSmooth"]
	path = DTRKernSmooth
	url = https://github.com/yunanwu123/dtrkernsmooth
